:root {
  --text: #232332;
  --bg: rgb(220, 220, 220);
  --frame: rgb(180, 180, 180);
  --border: rgb(150, 150, 150);
  --accent: #9696fa;
  --accent-border: rgb(100, 100, 255);
  
  --font: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--font);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --bg: rgb(25, 25, 25);
    --frame: rgb(35, 35, 35);
    --border: #2e303a;
    --accent: #c084fc;
    --accent-border: rgba(192, 132, 252, 0.5);
  }
}

body {
  margin: 0;
}